Flask==1.0.1
Flask-Cors==3.0.4
Flask-RESTful==0.3.6
flask-restful-swagger-2==0.35
flask-restplus==0.10.1
Flask-SQLAlchemy==2.3.2
flask-swagger-ui==3.18.0
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
logzero==1.5.0
MarkupSafe==1.0
prometheus-client==0.2.0
pytz==2018.4
PyYAML==3.13
six==1.11.0
SQLAlchemy==1.2.11
Werkzeug==0.14.1
PyGithub==1.43.3
logzero==1.5.0
